button[type=submit] {
    margin-top: 0;
}

#number {
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%;
}

.col-label {
    width: 25%;
}

.col-input {
    width: 60%;
}

label {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

.alert-done {
    width: 85%;
}

.alert-error {
    width: 85%;
}
