<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <div class="topnav" id="myTopnav">
        <a th:href="@{/customer}" class="active">Home</a>
        <a th:href="@{/a}">A</a>
        <a th:href="@{/b}">B</a>
        <a th:href="@{/c}">C</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</div>
</body>
</html>
