<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="title">WebSocket</title>
</head>
<body>
<div th:fragment="webSocketCustomers">
    <noscript><h2>Please enable Javascript and reload this page</h2></noscript>
    <div class="container">
        <!-----------------------Connect and disconnect buttons-------------------------------->
        <form id="webSocketForm">
            <div class="row">
                <div class="col-label">
                    <label for="connect">WebSocket connection:</label>
                </div>
                <div class="col-button-before"></div>
                <button id="connect" type="submit">Connect</button>
                <button id="disconnect" class="hidden" type="submit" disabled="disabled">Disconnect</button>
            </div>
        </form>
        <!-----------------------Connection status---------------------------------------------->
        <div class="col-label">
            <h3 id="connection"></h3>
        </div>
        <!-----------------------Table for new notes---------------------------------------------->
        <table id="customersTable" class="hidden">
            <caption>Current Customers</caption>
            <thead>
            <th scope="col"><h3>ID</h3></th>
            <th scope="col"><h3>Name</h3></th>
            <th scope="col"><h3>Age</h3></th>
            <th scope="col"><h3>Monthly Income</h3></th>
            <th scope="col"><h3>Number of Dependents</h3></th>
            </thead>
            <tbody id="customersTableBody">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>